body{
	font-family: sans-serif;
	background-color: white;
	background-color: #fafafa;	
}
.bg::before {
    content: '';
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.03;
}
.container{
	width: 100%;
	margin:0 auto;
    min-height: 450px;
	height: 100%;
	max-width: 940px;
}